<?xml version="1.0"?>
<launch>
  <!-- Click-to-Navigate: click a point on the map, robot drives there -->
  <arg name="map_file" default="$(find summit_xl_autonomous_nav)/maps/summit_world.yaml"/>
  <arg name="scan_topic" default="/kobuki/laser/scan"/>
  <arg name="auto_localize" default="true"/>

  <node pkg="summit_xl_autonomous_nav" type="launch_hint.py" name="launch_hint" output="screen">
    <param name="mode" value="navigation"/>
  </node>

  <node pkg="map_server" type="map_server" name="map_server" args="$(arg map_file)"/>

  <node pkg="amcl" type="amcl" name="amcl" output="screen">
    <rosparam file="$(find summit_xl_autonomous_nav)/config/amcl_params.yaml" command="load"/>
    <remap from="scan" to="$(arg scan_topic)"/>
  </node>

  <!-- Wait for AMCL to get initial pose before starting planner -->
  <node pkg="move_base" type="move_base" name="move_base" output="screen"
        launch-prefix="bash -c 'sleep 5; exec $0 $@' ">
    <param name="base_global_planner" value="navfn/NavfnROS"/>
    <param name="base_local_planner" value="dwa_local_planner/DWAPlannerROS"/>
    <rosparam file="$(find summit_xl_autonomous_nav)/config/move_base_params.yaml" command="load"/>
    <rosparam file="$(find summit_xl_autonomous_nav)/config/kobuki_global_planner_params.yaml" command="load"/>
    <rosparam file="$(find summit_xl_autonomous_nav)/config/kobuki_costmap_common_params.yaml" command="load" ns="global_costmap"/>
    <rosparam file="$(find summit_xl_autonomous_nav)/config/kobuki_costmap_common_params.yaml" command="load" ns="local_costmap"/>
    <rosparam file="$(find summit_xl_autonomous_nav)/config/local_costmap_params.yaml" command="load"/>
    <rosparam file="$(find summit_xl_autonomous_nav)/config/global_costmap_params.yaml" command="load"/>
    <rosparam file="$(find summit_xl_autonomous_nav)/config/kobuki_local_planner_params.yaml" command="load"/>
    <!-- Single source of truth: drive the costmap laser topic from scan_topic. -->
    <param name="global_costmap/laser_scan_sensor/topic" value="$(arg scan_topic)"/>
    <param name="local_costmap/laser_scan_sensor/topic" value="$(arg scan_topic)"/>
  </node>

  <group if="$(arg auto_localize)">
    <node pkg="summit_xl_autonomous_nav" type="set_initial_pose_from_odom.py" name="set_initial_pose"
          output="screen" launch-prefix="bash -c 'sleep 3; exec $0 $@' "/>
  </group>

  <node pkg="summit_xl_autonomous_nav" type="click_goal.py" name="click_goal" output="screen"
        launch-prefix="bash -c 'sleep 6; exec $0 $@' "/>
  <node pkg="summit_xl_autonomous_nav" type="navigation_status.py" name="navigation_status" output="screen"/>

  <node pkg="rviz" type="rviz" name="rviz" args="-d $(find summit_xl_autonomous_nav)/config/click_navigation.rviz" required="false"/>
</launch>
