<?xml version="1.0"?>
<launch>
  <arg name="map_file" default="$(find summit_xl_autonomous_nav)/maps/summit_world.yaml"/>
  <arg name="scan_topic" default="scan"/>
  <arg name="start_sim" default="true"/>

  <group if="$(arg start_sim)">
    <include file="$(find summit_xl_sim_bringup)/launch/summit_xl_complete.launch"/>
  </group>

  <node pkg="map_server" type="map_server" name="map_server" args="$(arg map_file)"/>

  <node pkg="amcl" type="amcl" name="amcl" output="screen">
    <rosparam file="$(find summit_xl_autonomous_nav)/config/amcl_params.yaml" command="load"/>
    <remap from="scan" to="$(arg scan_topic)"/>
  </node>

  <node pkg="move_base" type="move_base" name="move_base" output="screen">
    <rosparam file="$(find summit_xl_autonomous_nav)/config/move_base_params.yaml" command="load"/>
    <rosparam file="$(find summit_xl_autonomous_nav)/config/costmap_common_params.yaml" command="load" ns="global_costmap"/>
    <rosparam file="$(find summit_xl_autonomous_nav)/config/costmap_common_params.yaml" command="load" ns="local_costmap"/>
    <rosparam file="$(find summit_xl_autonomous_nav)/config/local_costmap_params.yaml" command="load"/>
    <rosparam file="$(find summit_xl_autonomous_nav)/config/global_costmap_params.yaml" command="load"/>
    <rosparam file="$(find summit_xl_autonomous_nav)/config/base_local_planner_params.yaml" command="load"/>
  </node>

  <node pkg="rviz" type="rviz" name="rviz" required="false"/>
</launch>
